# Azure Speech (optionnel si tu utilises Google SpeechRecognition)
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=francecentral

# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=2024-05-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o

# Dataset
DATA_PATH=data/StudentsPerformance.csv
